<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ user.name }} on Mastodon: {{ toot.content|striptags }}</title>
</head>

<body>
    <header>
        <p>The <a href="https://en.wikipedia.org/wiki/Mastodon_(software)">Mastodon</a> server that once existed here has gone away.</p>
        <p>You are seeing an archived version of the toot that once existed at &lt;<span class="url">{{ toot.url }}</span>&gt;.</p>
    </header>
    <main>
        <section class="toot">
            <div class="user">
                <strong>{{ user.name }}</strong>
                {{ user.short_handle }}
            </div>
            {{ toot.content|safe }}
        </section>
        {% if toot.attachments %}
        <section class="attachments">
            <ul>
            {% for attachment in toot.attachments %}
                <li>
                    <strong><a href="{{ attachment.name }}">{{ attachment.name }}</a></strong>
                    {% if attachment.title %}{{ attachment.title }}{% endif %}
                </li>
            {% endfor %}
            </ul>
        </section>
        {% endif %}
    </main>
    <footer>
        <p>Posted {{ toot.isotime }}</p>
    </footer>
</body>

</html>
